
body{
    margin: 0 auto;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: url(img.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.Container{
    width: 360px;
}

#inputfield{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    
}

#AddToDo{
height: 50px;
width: 50px;
border: 1px solid black;
vertical-align: middle;
font-size: 30px;
}

.to-dos{
    margin-top: 25px;
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

h1{
    font-size: 50px;
    color: black;
}
